body
{
  background-color: #333;
  color: White;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.Button{
      background-color: lightgray;
  font-size: 24px;
  border: none;
  color: #333;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 5px;
  width: 500px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.Tabel{
  
}


/*Navigation Bar*/
/*----------------------------------------------------*/

