body
{
  background-color: #333;
}

/*Navigation Bar*/
/*----------------------------------------------------*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: lightgray;
  color: black;
}

/*----------------------------------------------------*/

/*Index*/
/*----------------------------------------------------*/

.buttons
{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*-------------------------------------*/

.buttonPS
{
  background-color: lightgray;
  font-size: 24px;
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.5s;

}

.buttonPS:hover
{
  background-color: #4c63af;
  color: white;
}

/*-------------------------------------*/

.buttonXB
{
  background-color: lightgray;
  font-size: 24px;
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.5s;

}

.buttonXB:hover
{
  background-color: #4CAF50;
  color: white;
}

/*--------------------------------------*/

.buttonPC
{
  background-color: lightgray;
  font-size: 24px;
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.5s;

}

.buttonPC:hover
{
  background-color: #c24747;
  color: white;
}

/*--------------------------------------*/

.buttonNavigation
{
  background-color: lightgray;
  font-size: 16px;
  text-decoration: none;
  border: none;
  color: #333;
  padding: 5px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 50px;
  cursor: pointer;
  width: 75px;
}

/*--------------------------------------*/

.buttonNavigation spanA {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonNavigation spanA:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.buttonNavigation:hover spanA {
  padding-left: 25px;
}

.buttonNavigation:hover spanA:after {
  opacity: 1;
  left: 0;
}

/*--------------------------------------*/

.buttonNavigation spanE {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonNavigation spanE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonNavigation:hover spanE {
  padding-right: 25px;
}

.buttonNavigation:hover spanE:after {
  opacity: 1;
  right: 0;
}

/*--------------------------------------*/

/*--------------------------------------*/

/*--------------------------------------*/


/*----------------------------------------------------*/

.ui-grid-b
{
  /*background-color: turquoise;*/
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 800px;
  margin: auto;
}
.button-wrap
{
    display: grid;
    background-color: lightgray;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.ui-btn
{
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: transparent;
    cursor: pointer;
    transition-duration: 0.5s;
}

.ui-btn:hover
{
  background-color: black;
  color: white;
  opacity: 0.5;
}


/*Color Square*/
/*----------------------------------------------------*/
.squareRed
{
    width: 1000px;
    height: 30px;
    background-color: #c24747;
    margin-left: 680px;
    margin-right: 500px;
    margin-top: 50px;
}
.squareBlue
{
    width: 1000px;
    height: 30px;
    background-color: #4c63af;
    margin-left: 680px;
    margin-right: 500px;
    margin-top: 50px;
}
.squareGreen
{
    width: 1000px;
    height: 30px;
    background-color: #4CAF50;
    margin-left: 680px;
    margin-right: 500px;
    margin-top: 50px;
}

/*----------------------------------------------------*/

/*Registrieren*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/

/*Impressum*/
/*----------------------------------------------------*/
.text
{
  color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1
{
  padding-bottom: 50px;
}

p1, p3, p5, p7, p9, p11
{
  font-size: x-large;
  line-height: 1;
  color: white;
}

p2, p4, p6, p8, p10, p12
{
  font-size: large;
  line-height: 1.5;
}
/*----------------------------------------------------*/